<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina</title>
    <link rel="stylesheet" type="text/css"  href= "{{ url_for('static',filename='/styles/style.css') }}">
</head>
<body>

    <div class="login">    
        <form action="{{ url_for('predict')}}" method="post">


    <header>
        <div class="menu container">
            <a href="#" class="logo">CLOUD COMPUTING</a>
            <input type="chekbox" id="menu">
            <label for="menu">
                <img src="static/images/menu-btn.png" class="menu-icono" alt="">

            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>

        <div class="header-content container">

            <div class="content">

                <h1>Intelligent WeightMaster</h1>
                <p>
                    The leading detection and management solution
                </p>
                <a href="#" class="btn-1">More information</a>
                <a href="#" class="btn-1">More information</a>
            </div>
            <img src="static/images/astronauta.png" alt="">
        </div>
    </header>

    <main class="services container"> 
        <div class="service">
            <img src="static/images/icon1.svg" alt="">
            <h3> developer 1</h3>
            <p>
                ANDREA FRANCO SUAREZ, Mechatronic eng. 
            </p>
        </div>

        <div class="service">
            <img src="static/images/icon2.svg" alt="">
            <h3>developer 2</h3>
            <p>
                ANDRES FELIPE VARELA JOVEN, Electronic eng. 
            </p>
        </div>

        <div class="service">
            <img src="static/images/icon3.svg" alt="">
            <h3>developer 3</h3>
            <p>
                CARLOS ANDRES URBANO URBANO, Biomedic eng. 
            </p>
        </div>

        <div class="service">
            <img src="static/images/icon4.svg" alt="">
            <h3>developer 4</h3>
            <p>
                RONALD STIVEN BEJARANO LARRAHONDO, Mechatronic eng. 
            </p>
        </div>

        <div class="service">
            <img src="static/images/icon1.svg" alt="">
            <h3>developer 5</h3>
            <p>
                HARDY GALVIS PEDRAZA, Biomedic eng. 
            </p>
        </div>


    </main>

    <section class="porfolios container">

        <h2></h2>

        <div class="porfolio">

            <img src="static/images/img1.png" alt="">
            <div class="porfolio-1">
                
                <h3>Problem</h3>
                <p>
                    Obesity has become a global health problem, with a prevalence reaching epidemic
                    proportions. Traditional methods for assessing obesity levels, such as body mass
                    index (BMI), have limitations in capturing the complexity of individual 
                    factors that contribute to obesity.
                </p>
                <a href="#" class="btn-2">information</a>

            </div>
        </div>

        <div class="porfolio">

            <div class="porfolio-2">
                
                <h3> Estadísticas</h3>
                <p>
                    According to the WHO Obesity is a public health challenge in Mexico, Peru and Colombia. 
                    In Mexico, approximately 75% of adults were overweight or obese in 2018, while Peru and Colombia 
                    have also experienced worrying increases in obesity levels in recent years. In Peru, about 20% of 
                    adults were obese in 2019, while in Colombia, about 18% of adults were obese in 2015.  
                </p>
                
                <a href="#" class="btn-2">information</a>

            </div>
            <img src="static/images/img3.png" alt="">

        </div>

        <div class="porfolio">

            <img src="static/images/img2.png" alt="">
            <div class="porfolio-1">
                
                <h3>solution                </h3>
                <p>
                    WeightSense+ is a revolutionary model designed to address the problem of 
                    obesity in the countries of Mexico, Peru and Colombia. This comprehensive 
                    approach combines the evaluation of eating habits, physical condition and 
                    the identification of associated risk factors to estimate the levels of 
                    obesity in individuals.
                </p>
                <a href="#" class="btn-2">information</a>

            </div>
        </div>

        <div class="porfolio">

            <div class="porfolio-2">
                
                <h3>Posibles Applications </h3>
                <p>
                    This overweight level classification tool can be applied in various areas, 
                    such as doctor's offices, weight control programs, medical research, and 
                    education and awareness. Allows healthcare professionals to quickly assess patients' 
                    weight and body composition status, helps users track their progress and receive 
                    personalized recommendations, contributes to data collection for obesity and awareness 
                    studies risks associated with obesity and overweight.
                </p>
                <a href="#" class="btn-2">information</a>

            </div>
            <img src="static/images/img4.png" alt="">

        </div>

    </section>
    <footer>
       <div class="container">
        <div class="info">
            <div class="info-contect">
                <div class="info-price">
                    <h2>"Find the power of our model: ¡test it and get amazed!"</h2>
                    <p class="price">BETA PHASE</p>
                    

                    







                    
                    

                    















                    



        <div class="mb-3">
            <label class="form-label">Gender</label>
            <select class="form-control" name="Gender" placeholder="Enter you Gender" required>
                <option class="placeholder" selected disabled value="">Select your Gender</option>
                <option value="Male">
                    Male
                </option>
                <option value="Female">
                    Female
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Age</label>
            <input class="form-control" type="number" name="Age"
                placeholder="Enter your Age" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">Height</label>
            <input class="form-control" type="number" step="0.01"  name="Height"
                placeholder="Enter your Height in meters" min='0' max='3' />
        </div>

        <div class="mb-3">
            <label class="form-label">Weight</label>
            <input class="form-control" type="number" step="0.01" name="Weight"
                placeholder="Enter your Weight Kg" min='0' max='200' />
        </div>

        <div class="mb-3">
            <label class="form-label">¿Has a family member suffered or suffers from overweight?</label>
            <select class="form-control" name="family_history_with_overweight" placeholder="family_history_with_overweight" required>
                <option class="placeholder" selected disabled value="">Select your answer</option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
            </select>
        </div>


        <div class="mb-3">
            <label class="form-label">¿Do you eat high caloric food frequently?</label>
            <select class="form-control" name="FAVC" placeholder="FAVC" required>
                <option class="placeholder" selected disabled value="">Select your answer</option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">¿Do you usually eat vegetables in your meals?</label>
            <select class="form-control" name="FCVC" placeholder="FCVC" required>
                <option class="placeholder" selected disabled value="">Select your answer</option>
                <option value=1>
                    Never
                </option>
                <option value=2>
                    Sometimes
                </option>
                <option value=3>
                    Always
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">¿How many main meals do you have daily?</label>
            <select class="form-control" name="NCP" placeholder="NCP" required>
                <option class="placeholder" selected disabled value="">Select your answer</option>
                <option value=1>
                    Between 1 y 2
                </option>
                <option value=3>
                    Three
                </option>
                <option value=4>
                    More Than Three
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">¿Do you eat any food between meals?</label>
            <select class="form-control" name="CAEC" placeholder="CAEC" required>
                <option class="placeholder" selected disabled value="">Select your answer</option>
                <option value="No">
                    No
                </option>
                <option value="Sometimes">
                    Sometimes
                </option>
                <option value="Frequently">
                    Frequently
                </option>
                <option value="Always">
                    Always
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">¿Do you smoke?</label>
            <select class="form-control" name="SMOKE" placeholder="SMOKE" required>
                <option class="placeholder" selected disabled value="">Select your answer</option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">	¿How much water do you drink daily?</label>
            <select class="form-control" name="CH2O" placeholder="CH2O" required>
                <option class="placeholder" selected disabled value="">Select your answer</option>
                <option value=1>
                    Less than a liter
                </option>
                <option value=2>
                    Between 1 and 2 L
                </option>
                <option value=3>
                    More than 2 L
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">¿Do you monitor the calories you eat daily?</label>
            <select class="form-control" name="SCC" placeholder="SCC" required>
                <option class="placeholder" selected disabled value="">Select your answer</option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
            </select>
        </div>
             

        <div class="mb-3">
            <label class="form-label">¿How often do you have physical activity?</label>
            <select class="form-control" name="FAF" placeholder="FAF" required>
                <option class="placeholder" selected disabled value="">Select your answer</option>
                <option value=0>
                    I do not have
                </option>
                <option value=1>
                    1 or 2 days
                </option>
                <option value=2>
                    2 or 4 days
                </option>
                <option value=3>
                    4 or 5 days
                </option>
            </select>
        </div>


        <div class="mb-3">
            <label class="form-label">¿How much time do you use technological devices?</label>
            <select class="form-control" name="TUE" placeholder="TUE" required>
                <option class="placeholder" selected disabled value="">Select your answer</option>
                <option value=0>
                    0–2 hours
                </option>
                <option value=1>
                    3–5 hours
                </option>
                <option value=2>
                    More than 5 hours
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">¿how often do you drink alcohol?</label>
            <select class="form-control" name="CALC" placeholder="CALC" required>
                <option class="placeholder" selected disabled value="">Select your answer</option>
                <option value="I do not drink">
                    I do not drink
                </option>
                <option value="Sometimes">
                    Sometimes
                </option>
                <option value="Frequently">
                    Frequently
                </option>
                <option value="Always">
                    Always
                </option>
            </select>
        </div>
        
        <div class="mb-3">
            <label class="form-label">¿Which transportation do you usually use?</label>
            <select class="form-control" name="MTRANS" placeholder="MTRANS" required>
                <option class="placeholder" selected disabled value="">Select your answer</option>
                <option value="Automobile">
                    Automobile
                </option>
                <option value="Motorbike">
                    Motorbike
                </option>
                <option value="Bike">
                    Bike
                </option>
                <option value="Public Transportation">
                    Public Transportation
                </option>
                <option value="Walking">
                    Walking
                </option>
            </select>
        </div>

        

        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="ESTIMATE OBESITY LEVEL" required />
        </div>
    </form>
    <h2>
        <br>
       Your Obesity Estimation Level is : {{results}}
    </h2>















    


                </div>
                <div class="info-txt">
                    <h2>Recomendation</h2>
                    <p>
                        the classification tool cannot replace a comprehensive clinical evaluation 
                        of the data by a healthcare professional. Although the app can provide
                        an initial classification, it is important to note that obesity and overweight 
                        are complex and multifactorial conditions that require a full medical evaluation 
                        for an accurate diagnosis.
                    </p>
                    <a href="#" class="btn-1">information</a>

                </div>
            </div>

            <hr>
            <div class="enlaces">
                <h3>CLOUD COMPUTING</h3>
                <div class="enlace">
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Social Media</a></li>
                    <li><a href="#">Company</a></li>
                    <li><a href="#">History</a></li>
                </div>
            </div>
        </div>

       </div>
    </footer>


</body>
</html>